.lif-form {
    &__submit {
        appearance: button;
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: din-round,sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
        margin-top: 1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        &::after {
            background-clip: padding-box;
            background-color: #1CB0F6;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        &::main,
        &::focus {
            user-select: auto;
        }

        &:hover:not(:disabled) {
            filter: brightness(1.1);
            -webkit-filter: brightness(1.1);
        }

        &:disabled {
            cursor: auto;
        }

        &__loader {
            position: absolute;
            &.hidden {
                display: none;
            }
        }
    }

    h2 {
        margin-top: 1rem;
    }

    form {
        .float-label-field {
            border: none;
            outline: none;
            position: relative;
            margin: 0 0 20px 0;
            padding: 0;
            box-sizing: border-box;

            &.focus {
                label {
                    color: #1899D6;
                }

                input {
                    border: none;
                    border-bottom: solid 1px #1899D6;
                }
            }

            &.float label {
                opacity: 1;
                top: -8px;
                font-size: 80%;
                transition: all 0.2s ease;
                font-weight: bold;
            }

            label {
                opacity: 0.5;
                position: absolute;
                top: 10px;
                left: 0px;
                transition: all 0.2s ease;
                font-size: 18px;
            }

            input,
            select {
                width: 100%;
                border: none;
                outline: none;
                padding: 8px 5px 8px 0px;
                width: 100%;
                font-size: 18px;
                border-bottom: solid 1px #efefef;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }

    table {
        tbody {
            tr {
                border-bottom: none;
            }
        }
    }

    &__progressbar {
        background-color: #0d4c6a;
        border-radius: 13px;
        padding: 3px;

        &>div {
            background-color: #1CB0F6;
            width: 0%;
            height: 20px;
            border-radius: 10px;
        }
    }

    &__stats {
        text-align: center;
    }

    &__row {
        margin-top: 1rem;
    }

    &__recaptpcha {
        div:first-child {
            margin: auto;
        }
    }

    &__msg {
        text-align: center;
        margin-top: 1rem;
        font-weight: bold;
        &__success {
            color: #78c800;
        }

        &__error {
            color: #eb4b4d;
        }
    }
}